# Carpeta Imagenes de /Problemas_Programacion/
/Problemas_Programacion/Imagenes

# Archivos .out de la carpeta de /Problemas_Programacion/
/Problemas_Programacion/*.out

# Archivos .out de la carpeta /Segundo_Parcial/
/Segundo_Parcial/*.out

# Generador de archivos de C
filegen.sh

# Archivos gnuplot momentaneamente
/Segundo_Parcial/Grafica exp(x)+x.pdf
/Segundo_Parcial/Grafica exp(x)+x.tex
/Segundo_Parcial/*.gp
/Segundo_Parcial/DatosP1

# Imagenes específicas de la carpeta /Segundo_Parcial/Imagenes/
/Segundo_Parcial/Imagenes/Grafica exp(x)+x.jpg