# Ignorar la carpeta Imagenes
/Problemas_Programacion/Imagenes

# Ignorar archivos .out de la carpeta de Problemas_Programacion
/Problemas_Programacion/problema1.out
/Problemas_Programacion/problema2.out
/Problemas_Programacion/problema3.out