# Ignorar la carpeta Imagenes
/Problemas_Programacion/Imagenes

# Ignorar archivos .out de la carpeta de Problemas_Programacion
/Problemas_Programacion/*.out

# Ignorar archivos .out de la carpeta de Segundo_Parcial
/Segundo_Parcial/*.out

# Ignorar el generador de archivos de C
filegen.sh